.navbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.logo {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}
.units-selector{
    cursor: pointer;
}
.search-bar {
    height: 28px;
    margin: 0 0 20px 0;
}
.search-bar form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-wrapper input, .input-wrapper {
    height: 100%;
    width: 100%;
}
.input-wrapper input {
    background: none;
    border: 2px solid #d6d58e;
    border-radius: 10px 0 0 10px;
    border-right: none;
    padding: 10px;
    color: #d6d58e;
    text-transform: capitalize;
}
.input-wrapper input::placeholder {
    text-transform: capitalize;
}
.input-wrapper input:focus {
    outline: none;
}
.button-wrapper, .button-wrapper button {
    height: 100%;
    width: fit-content;
}
.button-wrapper button {
    background: none;
    border: 2px solid #d6d58e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    padding: 10px;
    fill: #d6d58e;
    display: flex;
    align-items: center;
    justify-content: center;
}